*{
    margin: 0%;
    padding: 0%;
}
body{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px;
    
}
table{
    margin: auto;
    margin-top: 20px;
    
}
h1{
    font-size: 50px;
}
 
input{
    font-size: 15px;
    padding: 8px;
    border-radius: 8px;
}
button{
    min-width: 100px;
    margin: 20px 30px;
    padding: 5px;
    font-size: 25px;
    margin-top: 50px;

}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 30px;
}
.one  {
    font-size: 20px;
    
}

.five{
    background-color: gray;
    font-size: 150px;
    width: 170px;
    margin: 5px;
}